@tailwind base;
@tailwind components;
@tailwind utilities;


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: 'Belleza';
    src: url('../font/Belleza-Regular.woff2') format('woff2'),
    url('../font/Belleza-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amiko';
    src: url('../font/Amiko-Regular.woff2') format('woff2'),
    url('../font/Amiko-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amiko';
    src: url('../font/Amiko-SemiBold.woff2') format('woff2'),
    url('../font/Amiko-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Amiko','Anuphan' !important;
}
