@font-face {
    font-family: 'Belleza';
    src: url('Belleza-Regular.woff2') format('woff2'),
        url('Belleza-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amiko';
    src: url('Amiko-Regular.woff2') format('woff2'),
        url('Amiko-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amiko';
    src: url('Amiko-SemiBold.woff2') format('woff2'),
        url('Amiko-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

